@import url(https://github.com/yuriisanin/svg2raster-cheatsheet/blob/d31633146d62863b71b1dbdb40b8703f7b1abcc1/assets/css-infinite-import.css);

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }

.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}
