@import url(https://raw.githubusercontent.com/yuriisanin/server-side-rasterization-draft/main/assets/css-infinite-import.css?token=GHSAT0AAAAAABT5Y6BX6YZXSESGTJULGDC6YUPG6RQ);

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }

.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}