@import url(https://raw.githubusercontent.com/yuriisanin/svg2raster-cheatsheet/main/assets/css-infinite-import.css);

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }

.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}

.title {
    font-family: Arial, Helvetica; 
    font-size: 16;
    text-anchor: middle;
  }
  
.legend {
font-family: Arial, Helvetica; 
font-size: 12;
text-anchor: middle;
}
